<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.hfbin.ucpm.mapper.RoleMenuRefMapper">

  <resultMap id="baseRoleMenuRefMap" type="cn.hfbin.ucpm.entity.RoleMenuRef">
          <id property="id" column="id"/>
              <result property="menuId" column="menu_id"/>
              <result property="roleId" column="role_id"/>
              <result property="tenantCode" column="tenant_code"/>
              <result property="createBy" column="create_by"/>
              <result property="createTime" column="create_time"/>
              <result property="updateBy" column="update_by"/>
              <result property="updateTime" column="update_time"/>
              <result property="delFlag" column="del_flag"/>
        </resultMap>
    <delete id="deleteRoleMenuRefIgnoreTr">
        update ucpm_role_menu_ref set del_flag = 0 , create_time = now()
        <where>
            <if test="params.tenantCodes != null and params.tenantCodes.size() > 0">
                and tenant_code in
                <foreach collection="params.tenantCodes" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="params.roleIds != null and params.roleIds.size() > 0">
                and role_id in
                <foreach collection="params.roleIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>
</mapper>
